<%_ if(config) { _%>
<script type='text/javascript'>
    (() => {
        RED.nodes.registerType('<%- config.nodeType %>', {
            category: 'config',
            defaults: {
                name: { value: '<%- config.defaultName %>' },
                <%_ for(const setting of config.settings) { _%>
                <%- setting.name %>Type: {value:'<%- setting.defaultType %>', required:<%- setting.required %>},
                <%- setting.name %>ConstValue: {value:'<%- setting.defaultValue %>', required:<%- setting.required %>},
                <%_ } _%>
            },
            label: function () {
                return this.name || this._("editor.configLabel");
            },
            labelStyle: function () {
                return this.name ? '<%- labelStyle %>' : ''
            },
            oneditprepare: function() {
                <%_ for(const setting of config.settings) { _%>
                    $("#node-config-input-<%- setting.name %>ConstValue").typedInput({
                        defaultType: "<%- setting.defaultType %>",
                        defaultValue: "<%- setting.defaultValue %>",
                        types: <%- JSON.stringify(setting.types) %>,
                        typeField: "#node-config-input-<%- setting.name %>Type",
                    })
                <%_ } _%>
            }
        })
    })()
</script>

<script type='text/html' data-template-name='<%- config.nodeType %>'>
    <div class='form-row'>
        <label for='node-config-input-name'><span data-i18n="editor.nameLabel"></span></label>
        <input type='text' id='node-config-input-name' data-i18n="[placeholder]editor.nameLabel">
    </div>

    <%_ for(const setting of config.settings) { _%>
	<div class='form-row'>
		<label for='node-config-input-<%- setting.name %>ConstValue'><span data-i18n="editor.<%- setting.name %>.label"></span></label>
		<input type='text' id='node-config-input-<%- setting.name %>ConstValue' data-i18n="[placeholder]editor.<%- setting.name %>.placeholder">
		<input type='hidden' id='node-config-input-<%- setting.name %>Type'>
    </div>
    <%_ } _%>
</script>
<%_ } _%>